body {
	font: 10px sans-serif;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.point {
	stroke: #4D85DC;
	fill: #4D85DC;
	clip-path: url(#StreamScatterPlotClip);
}

#untagged.point {
	stroke: #4D85DC;
	fill: #4D85DC;
	fill-opacity: 1;
	stroke-opacity: 1;
}

#tagged.point {
	stroke: #4D85DC;
	fill: #4D85DC;
	fill-opacity: 0.5;
	stroke-opacity: 0.5;
}

.bubble {
	clip-path: url(#freezeClip);
	fill: lightgrey;
	fill-opacity: 0.5;
}

.freezeRegion {
	fill: lightgrey;
	fill-opacity: 0.5;
}
/*.point:hover {
	stroke: red;
	fill: red;
}*/

.snapshot {
	stroke: #FFA300;
	fill: #FFA300;
}

.target {
	stroke: #50DC64;
	fill: #50DC64;
}

svg {cursor: none;}