body {
	font: 10px sans-serif;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.point {
	stroke: #000000;
	fill: #FFFFFF;
	clip-path: url(#StreamScatterPlotClip);
}

.primary.point {
	stroke: #E91E63;
	fill: #E91E63;
	clip-path: url(#StreamScatterPlotClip);
}

.secondary.point {
	stroke: #0288D1;
	fill: #0288D1;
	clip-path: url(#StreamScatterPlotClip);
}

#untagged.point {
	fill-opacity: 1;
	stroke-opacity: 1;
}

#tagged.point {
	fill-opacity: 0.5;
	stroke-opacity: 0.5;
}

.snapshot {
	stroke: #FFA300;
	fill: #FFA300;
	clip-path: url(#StreamScatterPlotClip);
}


.trail {
	stroke: #FFA300;
	clip-path: url(#StreamScatterPlotClip);
}

.point.target,
.snapshot.target,
.trail.target {
	stroke: #50DC64;
	fill: #50DC64;
	clip-path: url(#StreamScatterPlotClip);
}

.bubble {
	fill: lightgrey;
	fill-opacity: 0.5;
	clip-path: url(#freezeClip);
}

.freezeRegion {
	fill: lightgrey;
	fill-opacity: 0.5;
	clip-path: url(#StreamScatterPlotClip);
}


svg {cursor: none;}