body {
  font: 10px sans-serif;
  overflow: hidden;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.point {
	stroke: steelblue;
	fill: steelblue;
}

#untagged.point {
	stroke: steelblue;
	fill: steelblue;
	fill-opacity: 1;
	stroke-opacity: 1;
}

.bubble.cursor {
	clip-path: url(#trajectoryClip);
}

.bubble.cursorMorph {
	clip-path: url(#trajectoryClip);
}

#tagged.point {
	stroke: steelblue;
	fill: steelblue;
	fill-opacity: 0.5;
	stroke-opacity: 0.5;
}

/*.point:hover {
	stroke: red;
	fill: red;
}*/

.snapshot {
	stroke: orange;
	fill: orange;
}

.target {
	stroke: springgreen;
	fill: springgreen;
}

* {cursor: none;}