body {
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: none;
}

.tick {
	fill: none;
	stroke: none;
}

.label {
	fill: none;
	stroke: none;
}

.point {
	stroke: #000000;
	fill: #FFFFFF;
	clip-path: url(#StreamScatterPlotClip);
}
/*Order Must be Maintained for snapshot, primary, and secondary*/
.snapshot {
	stroke: #FFA300;
	fill: #FFA300;
	clip-path: url(#StreamScatterPlotClip);
}

.primary {
	stroke: #E91E63;
	fill: #E91E63;
	clip-path: url(#StreamScatterPlotClip);
}

.secondary {
	stroke: #0288D1;
	fill: #0288D1;
	clip-path: url(#StreamScatterPlotClip);
}

#untagged.point {
	fill-opacity: 1;
	stroke-opacity: 1;
}

#tagged.point {
	fill-opacity: 0.5;
	stroke-opacity: 0.5;
}


.trail {
	stroke: #FFA300;
	clip-path: url(#StreamScatterPlotClip);
}

.point.target,
.snapshot.target,
#targetTrail {
	stroke: #50DC64;
	fill: #50DC64;
	clip-path: url(#StreamScatterPlotClip);
}

.bubble {
	fill: lightgrey;
	fill-opacity: 0.5;
	clip-path: url(#freezeClip);
}

.freezeRegion {
	fill: lightgrey;
	fill-opacity: 0.5;
	clip-path: url(#StreamScatterPlotClip);
}
