body {
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: none;
}

.tick {
	fill: none;
	stroke: none;
}

.label {
	fill: none;
	stroke: none;
}

.snapshot {
	stroke: #000000;
	fill: #FFFFFF;
	clip-path: url(#StreamScatterPlotClip);
}

.point {
	stroke: #000000;
	fill: #FFFFFF;
	clip-path: url(#StreamScatterPlotClip);
}

.primary {
	stroke: #E57373;
	fill: #E57373;
	clip-path: url(#StreamScatterPlotClip);
}

.secondary {
	stroke: #000000;
	fill: #FFFFFF;
	clip-path: url(#StreamScatterPlotClip);
}

#untagged.point {
	fill-opacity: 1;
	stroke-opacity: 1;
}

#tagged.point {
	fill-opacity: 0.5;
	stroke-opacity: 0.5;
}

.point.target,
.snapshot.target {
	stroke: #8BC34A;
	fill: #8BC34A;
	clip-path: url(#StreamScatterPlotClip);
}

#targetTrail {
	stroke: #8BC34A;
	clip-path: url(#StreamScatterPlotClip);
}

#trail {
	stroke: #607D8B;
	clip-path: url(#StreamScatterPlotClip);
}

#secondary_trail {
	stroke: #607D8B;
	clip-path: url(#StreamScatterPlotClip);
}

#primary_trail {
	stroke: #E57373;
	clip-path: url(#StreamScatterPlotClip);
}

.bubble {
	fill: ##CFD8DC;
	fill-opacity: 0.5;
	clip-path: url(#freezeClip);
}

.freezeRegion {
	fill: #CFD8DC;
	fill-opacity: 0.5;
	clip-path: url(#StreamScatterPlotClip);
}
